
<div class="card marketing-campaigns">
    <div class="card-header d-flex justify-content-between align-items-center pb-1">
        <h4 class="card-title">الرعاة</h4>
        <i class="bx bx-dots-vertical-rounded font-medium-3 cursor-pointer"></i>
    </div>
    <div class="table-responsive wrapper">
        <!-- table start -->
        <table id="table-marketing-campaigns" class="table table-borderless table-marketing-campaigns mb-0">
            <thead>
                <tr>
                    <th class="text-center">الراعي</th>
                    <th>المخيمات</th>
                    <th>عيادات</th>
                    <th>عمليات</th>
                    <th>نظارات</th>
                    <th class="text-center">الاجراء</th>
                </tr>
            </thead>
            <tbody id="tbodySponsorNumbers">
            </tbody>
        </table>
        <!-- table ends -->
    </div>
</div>


