<li class="dropdown dropdown-language nav-item">
    <a class="dropdown-toggle nav-link" id="dropdown-flag" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-sa"></i><span class="selected-language d-lg-inline d-none">العربية</span></a>
    <div class="dropdown-menu" aria-labelledby="dropdown-flag">
        <a class="dropdown-item" href="javascript:void(0);" data-language="en"><i class="flag-icon flag-icon-us mr-50"></i>English</a>
        <a class="dropdown-item" href="javascript:void(0);" data-language="ar"><i class="flag-icon flag-icon-sa mr-50"></i>العربية</a>
    </div>
</li>

