<li class="nav-item nav-search">
    <a class="nav-link nav-link-search pt-2"><i class="ficon bx bx-search"></i></a>
    <div class="search-input">
        <div class="search-input-icon"><i class="bx bx-search primary"></i></div>
        <input class="input" type="text" placeholder="Explore Frest..." tabindex="-1" data-search="template-search">
        <div class="search-input-close"><i class="bx bx-x"></i></div>
        <ul class="search-list"></ul>
    </div>
</li>

