<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
 
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<system.web>
   <trust level="Full" />
		<sessionState timeout="20"/>
		<customErrors mode="Off"></customErrors>
		<pages enableEventValidation="false" viewStateEncryptionMode="Never"></pages>
		<authentication mode="Forms">
			<forms loginUrl="frmLogin.aspx" timeout="30" defaultUrl="Home/frmHome.aspx" protection="All">
				<credentials passwordFormat="Clear"></credentials>
			</forms>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<compilation targetFramework="4.5.2">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
   
      

			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5.2"/>
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
		</httpModules>
		<machineKey decryptionKey="2CC8E5C3B1812451A707FBAAAEAC9052E05AE1B858993660" validation="HMACSHA256" decryption="AES" validationKey="CB8860CE588A62A2CF9B0B2F48D2C8C31A6A40F0517268CEBCA431A3177B08FC53D818B82DEDCF015A71A0C4B817EA8FDCA2B3BDD091D89F2EDDFB3C06C0CB32"/>
	</system.web>
	<system.codedom></system.codedom>
	<system.webServer>
    <httpErrors errorMode="Detailed" />
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ApplicationInsightsWebTracking"/>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
		</modules>
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<add value="frmLogin.aspx"/>
			</files>
		</defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 316A2677-D7CD-4CB6-BA11-122A6AC3C25D-->
