  <!-- BEGIN: Main Menu-->
<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-sticky navbar-dark navbar-without-dd-arrow" role="navigation" data-menu="menu-wrapper">
    <div class="navbar-header d-xl-none d-block">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="index.html">
                    <div class="brand-logo">
                        <svg class="logo" width="26px" height="26px" viewbox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>icon</title>
                            <defs>
                                <lineargradient id="linearGradient-1" x1="50%" y1="0%" x2="50%" y2="100%">
                                    <stop stop-color="#5A8DEE" offset="0%"></stop>
                                    <stop stop-color="#699AF9" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient id="linearGradient-2" x1="0%" y1="0%" x2="100%" y2="100%">
                                    <stop stop-color="#FDAC41" offset="0%"></stop>
                                    <stop stop-color="#E38100" offset="100%"></stop>
                                </lineargradient>
                            </defs>
                            <g id="Sprite" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="sprite" transform="translate(-69.000000, -61.000000)">
                                    <g id="Group" transform="translate(17.000000, 15.000000)">
                                        <g id="icon" transform="translate(52.000000, 46.000000)">
                                            <path id="Combined-Shape" d="M13.5909091,1.77272727 C20.4442608,1.77272727 26,7.19618701 26,13.8863636 C26,20.5765403 20.4442608,26 13.5909091,26 C6.73755742,26 1.18181818,20.5765403 1.18181818,13.8863636 C1.18181818,13.540626 1.19665566,13.1982714 1.22574292,12.8598734 L6.30410592,12.859962 C6.25499466,13.1951893 6.22958398,13.5378796 6.22958398,13.8863636 C6.22958398,17.8551125 9.52536149,21.0724191 13.5909091,21.0724191 C17.6564567,21.0724191 20.9522342,17.8551125 20.9522342,13.8863636 C20.9522342,9.91761479 17.6564567,6.70030817 13.5909091,6.70030817 C13.2336969,6.70030817 12.8824272,6.72514561 12.5388136,6.77314791 L12.5392575,1.81561642 C12.8859498,1.78721495 13.2366963,1.77272727 13.5909091,1.77272727 Z"></path>
                                            <path id="Combined-Shape" d="M13.8863636,4.72727273 C18.9447899,4.72727273 23.0454545,8.82793741 23.0454545,13.8863636 C23.0454545,18.9447899 18.9447899,23.0454545 13.8863636,23.0454545 C8.82793741,23.0454545 4.72727273,18.9447899 4.72727273,13.8863636 C4.72727273,13.5378966 4.74673291,13.1939746 4.7846258,12.8556254 L8.55057141,12.8560055 C8.48653249,13.1896162 8.45300462,13.5340745 8.45300462,13.8863636 C8.45300462,16.887125 10.8856023,19.3197227 13.8863636,19.3197227 C16.887125,19.3197227 19.3197227,16.887125 19.3197227,13.8863636 C19.3197227,10.8856023 16.887125,8.45300462 13.8863636,8.45300462 C13.529522,8.45300462 13.180715,8.48740462 12.8430777,8.55306931 L12.8426531,4.78608796 C13.1851829,4.7472336 13.5334422,4.72727273 13.8863636,4.72727273 Z" fill="#4880EA"></path>
                                            <path id="Combined-Shape" d="M13.5909091,1.77272727 C20.4442608,1.77272727 26,7.19618701 26,13.8863636 C26,20.5765403 20.4442608,26 13.5909091,26 C6.73755742,26 1.18181818,20.5765403 1.18181818,13.8863636 C1.18181818,13.540626 1.19665566,13.1982714 1.22574292,12.8598734 L6.30410592,12.859962 C6.25499466,13.1951893 6.22958398,13.5378796 6.22958398,13.8863636 C6.22958398,17.8551125 9.52536149,21.0724191 13.5909091,21.0724191 C17.6564567,21.0724191 20.9522342,17.8551125 20.9522342,13.8863636 C20.9522342,9.91761479 17.6564567,6.70030817 13.5909091,6.70030817 C13.2336969,6.70030817 12.8824272,6.72514561 12.5388136,6.77314791 L12.5392575,1.81561642 C12.8859498,1.78721495 13.2366963,1.77272727 13.5909091,1.77272727 Z" fill="url(#linearGradient-1)"></path>
                                            <rect id="Rectangle" x="0" y="0" width="7.68181818" height="7.68181818"></rect>
                                            <rect id="Rectangle" fill="url(#linearGradient-2)" x="0" y="0" width="7.68181818" height="7.68181818"></rect>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h2 class="brand-text mb-0">Frest</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary toggle-icon"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <!-- Horizontal menu content-->
    <div class="navbar-container main-menu-content" data-menu="menu-container">
        <!-- include ~/includes/mixins-->
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="index.html" data-toggle="dropdown"><i class="menu-livicon" data-icon="desktop"></i><span data-i18n="Dashboard">لوحة المعلومات</span></a>
                <ul class="dropdown-menu">
                    <li class="active" data-menu="">
                        <a class="dropdown-item align-items-center" href="dashboard-ecommerce.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="eCommerce">تقارير</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="dashboard-analytics.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Analytics">تقارير</span></a>
                    </li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="menu-livicon" data-icon="comments"></i><span data-i18n="Apps">الإدارة</span></a>
                <ul class="dropdown-menu">
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="~/PlanConfig/Year" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Email">عام الخطة</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="app-chat.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Chat">المحادثات</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="app-todo.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Todo">Todo</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="app-calendar.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Calendar">Calendar</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="app-kanban.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Kanban">Kanban</span></a>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Invoice">Invoice</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="app-invoice-list.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Invoice List">Invoice List</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="app-invoice.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Invoice">Invoice</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="app-invoice-edit.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Invoice Edit">Invoice Edit</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="app-invoice-add.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Invoice Add">Invoice Add</span></a>
                            </li>
                        </ul>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="app-file-manager.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="File Manager">File Manager</span></a>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="User">User</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="app-users-list.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="List">List</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="app-users-view.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="View">View</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="app-users-edit.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Edit">Edit</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="menu-livicon" data-icon="briefcase"></i><span data-i18n="UI">الخطة</span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Content">Content</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="content-grid.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Grid">Grid</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="content-typography.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Typography">Typography</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="content-text-utilities.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Text Utilities">Text Utilities</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="content-syntax-highlighter.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Syntax Highlighter">Syntax Highlighter</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="content-helper-classes.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Helper Classes">Helper Classes</span></a>
                            </li>
                        </ul>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="colors.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Colors">Colors</span></a>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Icons">Icons</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="icons-boxicons.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="boxicons">Boxicons</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="icons-livicons.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="LivIcons">LivIcons</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Card">Card</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="card-basic.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Basic">Basic</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="card-actions.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Card Actions">Card Actions</span></a>
                            </li>
                        </ul>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="widgets.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Card Widgets">Widgets</span></a>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Components">Components</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-alerts.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Alerts">Alerts</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-buttons-basic.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Buttons">Buttons</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-breadcrumbs.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Breadcrumbs">Breadcrumbs</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-carousel.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Carousel">Carousel</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-collapse.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Collapse">Collapse</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-dropdowns.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Dropdowns">Dropdowns</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-list-group.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="List Group">List Group</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-modals.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Modals">Modals</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-pagination.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Pagination">Pagination</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-navbar.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Navbar">Navbar</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-tabs-component.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Tabs Component">Tabs Component</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-pills-component.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Pills Component">Pills Component</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-tooltips.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Tooltips">Tooltips</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-popovers.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Popovers">Popovers</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-badges.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Badges">Badges</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-pill-badges.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Pill Badges">Pill Badges</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-progress.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Progress">Progress</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-media-objects.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Media Objects">Media Objects</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-spinner.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Spinner">Spinner</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="component-bs-toast.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Toasts">Toasts</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Extra Components">Extra Components</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ex-component-avatar.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Avatar">Avatar</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ex-component-chips.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Chips">Chips</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ex-component-divider.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Divider">Divider</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Extensions">Extensions</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-sweet-alerts.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Sweet Alert">Sweet Alert</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-toastr.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Toastr">Toastr</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-noui-slider.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="NoUi Slider">NoUi Slider</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-drag-drop.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Drag &amp; Drop">Drag &amp; Drop</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-tour.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Tour">Tour</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-swiper.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="l18n">Swiper</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-treeview.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="l18n">Treeview</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-block-ui.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="l18n">Block-UI</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-media-player.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="l18n">Media Player</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-miscellaneous.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Miscellaneous">Miscellaneous</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-i18n.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="I18n">i18n</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="ext-component-ratings.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Ratings">Ratings</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="menu-livicon" data-icon="thumbnails-big"></i><span data-i18n="Forms &amp; Tables">متابعة &amp; المخيمات</span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Form Elements">Form Elements</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-inputs.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Input">Input</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-input-groups.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Input Groups">Input Groups</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-number-input.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Number Input">Number Input</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-select.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Select">Select</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-radio.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Radio">Radio</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-checkbox.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Checkbox">Checkbox</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-switch.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Switch">Switch</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-textarea.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Textarea">Textarea</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-quill-editor.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Quill Editor">Quill Editor</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-file-uploader.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="File Uploader">File Uploader</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="form-date-time-picker.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Date &amp; Time Picker">Date &amp; Time Picker</span></a>
                            </li>
                        </ul>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="form-layout.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Form Layout">Form Layout</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="form-wizard.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Form Wizard">Form Wizard</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="form-validation.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Form Validation">Form Validation</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="form-repeater.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Form Repeater">Form Repeater</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="table.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Table">Table</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="table-extended.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Table">Table extended</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="table-datatable.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Datatable">Datatable</span></a>
                    </li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="menu-livicon" data-icon="notebook"></i><span data-i18n="Pages">الاحصاءات</span></a>
                <ul class="dropdown-menu">
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="page-user-profile.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="User Profile">User Profile</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="page-faq.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="FAQ">FAQ</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="page-knowledge-base.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Knowledge Base">Knowledge Base</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="page-search.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Search">Search</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="page-account-settings.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Account Settings">Account Settings</span></a>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Starter kit">Starter kit</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="~/starter-kit/rtl/horizontal-menu-template-dark/sk-layout-1-column.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="1 column">1 column</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="~/starter-kit/rtl/horizontal-menu-template-dark/sk-layout-2-columns.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="2 columns">2 columns</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="~/starter-kit/rtl/horizontal-menu-template-dark/sk-layout-fixed-navbar.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Fixed navbar">Fixed navbar</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="~/starter-kit/rtl/horizontal-menu-template-dark/sk-layout-fixed.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Fixed layout">Fixed layout</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="~/starter-kit/rtl/horizontal-menu-template-dark/sk-layout-static.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Static layout">Static layout</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Authentication">Authentication</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="auth-login.html" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Login">Login</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="auth-register.html" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Register">Register</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="auth-forgot-password.html" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Forgot Password">Forgot Password</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="auth-reset-password.html" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Reset Password">Reset Password</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="auth-lock-screen.html" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Lock Screen">Lock Screen</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Miscellaneous">Miscellaneous</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="page-coming-soon.html" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Coming Soon">Coming Soon</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="error-404.html" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="404">404</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="error-500.html" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="500">500</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="page-not-authorized.html" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Not Authorized">Not Authorized</span></a>
                            </li>
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="page-maintenance.html" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Maintenance">Maintenance</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="menu-livicon" data-icon="pie-chart"></i><span data-i18n="Charts &amp; Maps">التقارير</span></a>
                <ul class="dropdown-menu">
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="chart-apex.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Apex">Apex</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="chart-chartjs.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Chartjs">Chartjs</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="chart-chartist.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Chartist">Chartist</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="maps-leaflet.html" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Leaflet Maps">Leaflet Maps</span></a>
                    </li>
                </ul>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="menu-livicon" data-icon="morph-folder"></i><span data-i18n="Others">تقارير</span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                        <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Menu Levels">Menu Levels</span></a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item align-items-center" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Second Level">Second Level</span></a>
                            </li>
                            <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                <a class="dropdown-item align-items-center dropdown-toggle" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Second Level">Second Level</span></a>
                                <ul class="dropdown-menu">
                                    <li data-menu="">
                                        <a class="dropdown-item align-items-center" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Third Level">Third Level</span></a>
                                    </li>
                                    <li data-menu="">
                                        <a class="dropdown-item align-items-center" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Third Level">Third Level</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="disabled" data-menu="">
                        <a class="dropdown-item align-items-center" href="#" data-toggle="dropdown"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Disabled Menu">Disabled Menu</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="https://pixinvent.com/demo/frest-clean-bootstrap-admin-dashboard-template/documentation" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Documentation">Documentation</span></a>
                    </li>
                    <li data-menu="">
                        <a class="dropdown-item align-items-center" href="https://pixinvent.ticksy.com/" data-toggle="dropdown" target="_blank"><i class="bx bx-right-arrow-alt"></i><span data-i18n="Raise Support">Raise Support</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /horizontal menu content-->
</div>
<!-- END: Main Menu-->
