<div class="card">
    <div class="card-header">
        <h4 class="card-title">Form With Floating Labels with Icons</h4>
    </div>
    <div class="card-body">
        <form class="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-label-group position-relative has-icon-left">
                            <input type="text" id="first-name-floating-icon" class="form-control" name="fname-floating-icon" placeholder="First Name">
                            <div class="form-control-position">
                                <i class="bx bx-user"></i>
                            </div>
                            <label for="first-name-floating-icon">First Name</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-label-group position-relative has-icon-left">
                            <input type="email" id="email-id-floating-icon" class="form-control" name="email-id-floating-icon" placeholder="Email">
                            <div class="form-control-position">
                                <i class="bx bx-mail-send"></i>
                            </div>
                            <label for="email-id-floating-icon">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-label-group position-relative has-icon-left">
                            <input type="number" id="contact-floating-icon" class="form-control" name="contact-floating-icon" placeholder="Mobile">
                            <div class="form-control-position">
                                <i class="bx bx-mobile"></i>
                            </div>
                            <label for="contact-floating-icon">Mobile</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-label-group position-relative has-icon-left">
                            <input type="password" id="password-floating-icon" class="form-control" name="password-floating-icon" placeholder="Password">
                            <div class="form-control-position">
                                <i class="bx bx-lock"></i>
                            </div>
                            <label for="password-floating-icon">Password</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <input type="checkbox" class="checkbox-input" id="checkbox6">
                                <label for="checkbox6">Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mr-1">Submit</button>
                        <button type="reset" class="btn btn-light-secondary">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

