<div class="card">
    <div class="card-header">
        <h4 class="card-title">Form With Floating Labels</h4>
    </div>
    <div class="card-body">
        <form class="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-label-group">
                            <input type="text" id="first-name-floating" class="form-control" placeholder="First Name" name="fname-floating">
                            <label for="first-name-floating">First Name</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-label-group">
                            <input type="email" id="email-id-floating" class="form-control" name="email-id-floating" placeholder="Email">
                            <label for="email-id-floating">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-label-group">
                            <input type="number" id="contact-info-floating" class="form-control" name="contact-floating" placeholder="Mobile">
                            <label for="contact-info-floating">Mobile</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-label-group">
                            <input type="password" id="password-floating" class="form-control" name="contact-floating" placeholder="Password">
                            <label for="password-floating">Password</label>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <fieldset>
                            <div class="checkbox">
                                <input type="checkbox" class="checkbox-input" id="checkbox5">
                                <label for="checkbox5">Remember me</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mr-1">Submit</button>
                        <button type="reset" class="btn btn-light-secondary">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

