<div class="card">
    <div class="card-header">
        <h4 class="card-title">Horizontal Form with Icons</h4>
    </div>
    <div class="card-body">
        <form class="form form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>First Name</label>
                    </div>
                    <div class="col-md-8 form-group ">
                        <div class="position-relative has-icon-left">
                            <input type="text" id="fname-icon" class="form-control" name="fname-icon" placeholder="First Name">
                            <div class="form-control-position">
                                <i class="bx bx-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Email</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <div class="position-relative has-icon-left">
                            <input type="email" id="email-icon" class="form-control" name="email-id-icon" placeholder="Email">
                            <div class="form-control-position">
                                <i class="bx bx-mail-send"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Mobile</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <div class="position-relative has-icon-left">
                            <input type="number" id="contact-icon" class="form-control" name="contact-icon" placeholder="Mobile">
                            <div class="form-control-position">
                                <i class="bx bx-mobile"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Password</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <div class="position-relative has-icon-left">
                            <input type="password" id="pass-icon" class="form-control" name="contact-icon" placeholder="Password">
                            <div class="form-control-position">
                                <i class="bx bx-lock"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-8 offset-md-4">
                        <fieldset>
                            <div class="checkbox">
                                <input type="checkbox" class="checkbox-input" id="checkbox2">
                                <label for="checkbox2">Remember me</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-12 d-flex justify-content-end ">
                        <button type="submit" class="btn btn-primary mr-1">Submit</button>
                        <button type="reset" class="btn btn-light-secondary">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

