<div class="card">
    <div class="card-header">
        <h4 class="card-title">Multiple Column</h4>
    </div>
    <div class="card-body">
        <form class="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-label-group">
                            <input type="text" id="first-name-column" class="form-control" placeholder="First Name" name="fname-column">
                            <label for="first-name-column">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-label-group">
                            <input type="text" id="last-name-column" class="form-control" placeholder="Last Name" name="lname-column">
                            <label for="last-name-column">Last Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-label-group">
                            <input type="text" id="city-column" class="form-control" placeholder="City" name="city-column">
                            <label for="city-column">City</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-label-group">
                            <input type="text" id="country-floating" class="form-control" name="country-floating" placeholder="Country">
                            <label for="country-floating">Country</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-label-group">
                            <input type="text" id="company-column" class="form-control" name="company-column" placeholder="Company">
                            <label for="company-column">Company</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-label-group">
                            <input type="email" id="email-id-column" class="form-control" name="email-id-column" placeholder="Email">
                            <label for="email-id-column">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <input type="checkbox" class="checkbox-input" id="checkbox7">
                                <label for="checkbox7">Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mr-1">Submit</button>
                        <button type="reset" class="btn btn-light-secondary">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

