<div class="card">
    <div class="card-header">
        <h4 class="card-title">Vertical Form with Icons</h4>
    </div>
    <div class="card-body">
        <form class="form form-vertical">
            <div class="form-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="first-name-icon">First Name</label>
                            <div class="position-relative has-icon-left">
                                <input type="text" id="first-name-icon" class="form-control" name="fname-icon" placeholder="First Name">
                                <div class="form-control-position">
                                    <i class="bx bx-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="email-id-icon">Email</label>
                            <div class="position-relative has-icon-left">
                                <input type="email" id="email-id-icon" class="form-control" name="email-id-icon" placeholder="Email">
                                <div class="form-control-position">
                                    <i class="bx bx-mail-send"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="contact-info-icon">Mobile</label>
                            <div class="position-relative has-icon-left">
                                <input type="number" id="contact-info-icon" class="form-control" name="contact-icon" placeholder="Mobile">
                                <div class="form-control-position">
                                    <i class="bx bx-mobile"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="password-icon">Password</label>
                            <div class="position-relative has-icon-left">
                                <input type="password" id="password-icon" class="form-control" name="contact-icon" placeholder="Password">
                                <div class="form-control-position">
                                    <i class="bx bx-lock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <input type="checkbox" class="checkbox-input" id="checkbox4">
                                <label for="checkbox4">Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mr-1">Submit</button>
                        <button type="reset" class="btn btn-light-secondary">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

