USE [Basar]
GO
/****** Object:  Table [dbo].[tblTeamMember]    Script Date: 4/29/2020 2:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTeamMember](
	[TeamMemberId] [int] IDENTITY(1,1) NOT NULL,
	[TeamCategoryId] [smallint] NOT NULL,
	[SpecializationId] [smallint] NOT NULL,
	[TeamId] [smallint] NOT NULL,
	[NationalityId] [tinyint] NULL,
	[TeamMemberNameAr] [nvarchar](50) NULL,
	[TeamMemberNameEn] [nvarchar](50) NULL,
	[PassportNumber] [nvarchar](20) NULL,
	[IssuerPlaceAr] [nvarchar](50) NULL,
	[IssuerPlaceEn] [nvarchar](50) NULL,
	[DateOfIssue] [smalldatetime] NULL,
	[DateOfBirth] [smalldatetime] NULL,
	[ExpiryDate] [smalldatetime] NULL,
	[AddBy] [smallint] NULL,
	[CreationDate] [smalldatetime] NULL,
	[UpdatedBy] [smallint] NULL,
	[UpdatedDate] [smalldatetime] NULL,
	[TeamMemberStatus] [bit] NULL,
 CONSTRAINT [PK_tblTeamMember] PRIMARY KEY CLUSTERED 
(
	[TeamMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblTeamMember] ON 

SET IDENTITY_INSERT [dbo].[tblTeamMember] OFF
ALTER TABLE [dbo].[tblTeamMember] ADD  CONSTRAINT [DF_tblTeamMember_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
