USE [Basar]
GO
/****** Object:  Table [dbo].[tblIndicator]    Script Date: 4/29/2020 2:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblIndicator](
	[IndicatorId] [smallint] IDENTITY(1,1) NOT NULL,
	[IndicatorNumber] [int] NULL,
	[SurveyCategoryId] [tinyint] NOT NULL,
	[IndicatorDescAr] [nvarchar](100) NULL,
	[IndicatorDescEn] [nvarchar](100) NULL,
	[IndicatorStatus] [bit] NULL,
	[IndicatorOrder] [tinyint] NULL,
	[CreationDate] [smalldatetime] NULL,
	[CreationBy] [smallint] NULL,
	[UpdatedDate] [smalldatetime] NULL,
	[IndicatorDivider] [bit] NULL,
	[UpdatedBy] [smallint] NULL,
 CONSTRAINT [PK_tblIndicator] PRIMARY KEY CLUSTERED 
(
	[IndicatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblIndicator] ON 

INSERT [dbo].[tblIndicator] ([IndicatorId], [IndicatorNumber], [SurveyCategoryId], [IndicatorDescAr], [IndicatorDescEn], [IndicatorStatus], [IndicatorOrder], [CreationDate], [CreationBy], [UpdatedDate], [IndicatorDivider], [UpdatedBy]) VALUES (3, 1, 1, N'الغرفه الرئيسية 4*8م', N'Main OR 8×4m', 1, 1, CAST(N'2017-12-03T17:35:00' AS SmallDateTime), 1, CAST(N'2017-12-03T17:35:00' AS SmallDateTime), 1, 1)
INSERT [dbo].[tblIndicator] ([IndicatorId], [IndicatorNumber], [SurveyCategoryId], [IndicatorDescAr], [IndicatorDescEn], [IndicatorStatus], [IndicatorOrder], [CreationDate], [CreationBy], [UpdatedDate], [IndicatorDivider], [UpdatedBy]) VALUES (4, 1, 1, N'غرفة تعقيم 4*4م', N'Sterilization R. 4*4m', 1, 1, CAST(N'2017-12-03T17:40:00' AS SmallDateTime), 1, CAST(N'2017-12-03T17:40:00' AS SmallDateTime), 1, 1)
INSERT [dbo].[tblIndicator] ([IndicatorId], [IndicatorNumber], [SurveyCategoryId], [IndicatorDescAr], [IndicatorDescEn], [IndicatorStatus], [IndicatorOrder], [CreationDate], [CreationBy], [UpdatedDate], [IndicatorDivider], [UpdatedBy]) VALUES (5, 1, 1, N'غرفة بنج 4*4م', N'Anesthesia R.4*4', 1, 1, CAST(N'2017-12-03T17:41:00' AS SmallDateTime), 1, CAST(N'2017-12-03T17:41:00' AS SmallDateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[tblIndicator] OFF
ALTER TABLE [dbo].[tblIndicator] ADD  CONSTRAINT [DF_tblIndicator_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
