USE [Basar]
GO
/****** Object:  Table [dbo].[tblMedicines]    Script Date: 4/29/2020 2:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMedicines](
	[MedicinesId] [smallint] IDENTITY(1,1) NOT NULL,
	[MedicinesCategoryId] [tinyint] NOT NULL,
	[MedicinesNameAr] [nvarchar](100) NULL,
	[MedicinesNameEn] [nvarchar](100) NULL,
	[CreationDate] [smalldatetime] NULL,
	[MedicinesStatus] [bit] NULL,
	[MedicinesOrder] [smallint] NULL,
	[MedicinesRequiredNumber] [smallint] NULL,
 CONSTRAINT [PK_tblMedicines] PRIMARY KEY CLUSTERED 
(
	[MedicinesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblMedicines] ON 

INSERT [dbo].[tblMedicines] ([MedicinesId], [MedicinesCategoryId], [MedicinesNameAr], [MedicinesNameEn], [CreationDate], [MedicinesStatus], [MedicinesOrder], [MedicinesRequiredNumber]) VALUES (1, 1, N'Vitachlor (Chloramphenicol -0.5%)', N'Vitachlor (Chloramphenicol -0.5%)', CAST(N'2017-07-29T13:56:00' AS SmallDateTime), 1, 1, 2500)
INSERT [dbo].[tblMedicines] ([MedicinesId], [MedicinesCategoryId], [MedicinesNameAr], [MedicinesNameEn], [CreationDate], [MedicinesStatus], [MedicinesOrder], [MedicinesRequiredNumber]) VALUES (2, 1, N'Sulphamed (Sulphacetamide  20%)', N'Sulphamed (Sulphacetamide  20%)', CAST(N'2017-07-29T13:56:00' AS SmallDateTime), 1, 1, 1000)
INSERT [dbo].[tblMedicines] ([MedicinesId], [MedicinesCategoryId], [MedicinesNameAr], [MedicinesNameEn], [CreationDate], [MedicinesStatus], [MedicinesOrder], [MedicinesRequiredNumber]) VALUES (3, 1, N'Histallyn (Sodium Cromogloycate)', N'Histallyn (Sodium Cromogloycate)', CAST(N'2017-07-29T13:57:00' AS SmallDateTime), 1, 1, 100)
SET IDENTITY_INSERT [dbo].[tblMedicines] OFF
ALTER TABLE [dbo].[tblMedicines] ADD  CONSTRAINT [DF_tblMedicines_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[tblMedicines] ADD  CONSTRAINT [DF_Table_1_MedicinesCategoryStatus]  DEFAULT ((1)) FOR [MedicinesStatus]
GO
