USE [Basar]
GO
/****** Object:  Table [dbo].[tblAnnualPlan]    Script Date: 4/29/2020 2:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAnnualPlan](
	[AnnualPlanId] [int] IDENTITY(1,1) NOT NULL,
	[YearId] [tinyint] NULL,
	[TourId] [smallint] NULL,
	[TeamId] [smallint] NULL,
	[CountryId] [tinyint] NULL,
	[CampId] [smallint] NULL,
	[SponsorId] [smallint] NULL,
	[AnnualPlanStartDate] [date] NULL,
	[AnnualPlanEndDate] [date] NULL,
	[AnnualPlanAddBy] [smallint] NULL,
	[AnnualPlanUpdatedBy] [smallint] NULL,
	[AnnualPlanCreationDate] [smalldatetime] NULL,
	[AnnualPlanUpdatedDate] [smalldatetime] NULL,
	[AnnualPlanStatus] [bit] NULL,
	[AnnualPlanRemark] [nvarchar](200) NULL,
	[PreliminaryStatus] [bit] NULL,
	[CampStatusId] [smallint] NULL,
 CONSTRAINT [PK_tblAnnualPlan] PRIMARY KEY CLUSTERED 
(
	[AnnualPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAnnualPlan] ON 

INSERT [dbo].[tblAnnualPlan] ([AnnualPlanId], [YearId], [TourId], [TeamId], [CountryId], [CampId], [SponsorId], [AnnualPlanStartDate], [AnnualPlanEndDate], [AnnualPlanAddBy], [AnnualPlanUpdatedBy], [AnnualPlanCreationDate], [AnnualPlanUpdatedDate], [AnnualPlanStatus], [AnnualPlanRemark], [PreliminaryStatus], [CampStatusId]) VALUES (54, 2, 27, 2, 36, 65, 15, CAST(N'2018-06-24' AS Date), CAST(N'2018-06-30' AS Date), 2, 2, CAST(N'2018-07-07T02:03:00' AS SmallDateTime), CAST(N'2018-07-07T02:03:00' AS SmallDateTime), 1, N'', 0, NULL)
INSERT [dbo].[tblAnnualPlan] ([AnnualPlanId], [YearId], [TourId], [TeamId], [CountryId], [CampId], [SponsorId], [AnnualPlanStartDate], [AnnualPlanEndDate], [AnnualPlanAddBy], [AnnualPlanUpdatedBy], [AnnualPlanCreationDate], [AnnualPlanUpdatedDate], [AnnualPlanStatus], [AnnualPlanRemark], [PreliminaryStatus], [CampStatusId]) VALUES (56, 2, 27, 2, 36, 66, 23, CAST(N'2018-07-18' AS Date), CAST(N'2018-07-22' AS Date), 4, 4, CAST(N'2018-07-07T02:15:00' AS SmallDateTime), CAST(N'2018-07-07T02:15:00' AS SmallDateTime), 1, N'', 1, NULL)
INSERT [dbo].[tblAnnualPlan] ([AnnualPlanId], [YearId], [TourId], [TeamId], [CountryId], [CampId], [SponsorId], [AnnualPlanStartDate], [AnnualPlanEndDate], [AnnualPlanAddBy], [AnnualPlanUpdatedBy], [AnnualPlanCreationDate], [AnnualPlanUpdatedDate], [AnnualPlanStatus], [AnnualPlanRemark], [PreliminaryStatus], [CampStatusId]) VALUES (57, 2, 41, 1, 7, 51, 18, CAST(N'2018-04-01' AS Date), CAST(N'2018-04-07' AS Date), 1, 1, CAST(N'2018-07-16T02:53:00' AS SmallDateTime), CAST(N'2018-07-16T02:53:00' AS SmallDateTime), 1, N'', 0, NULL)
SET IDENTITY_INSERT [dbo].[tblAnnualPlan] OFF
ALTER TABLE [dbo].[tblAnnualPlan] ADD  CONSTRAINT [DF_tblAnnualPlan_AnnualPlanCreationDate]  DEFAULT (getdate()) FOR [AnnualPlanCreationDate]
GO
