USE [Basar]
GO
/****** Object:  Table [dbo].[tblCountries]    Script Date: 4/29/2020 2:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCountries](
	[CountryId] [tinyint] IDENTITY(1,1) NOT NULL,
	[TeamId] [smallint] NULL,
	[TourId] [smallint] NULL,
	[CountryDsecAr] [nvarchar](50) NULL,
	[CountryDsecEn] [nvarchar](50) NULL,
	[CreationDate] [smalldatetime] NULL,
	[CreationBy] [smallint] NULL,
	[UpdatedDate] [smalldatetime] NULL,
	[UpdatedBy] [smallint] NULL,
	[CountryOrder] [tinyint] NULL,
	[CountryStatus] [bit] NULL,
 CONSTRAINT [PK_tblCountries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCountries] ON 

INSERT [dbo].[tblCountries] ([CountryId], [TeamId], [TourId], [CountryDsecAr], [CountryDsecEn], [CreationDate], [CreationBy], [UpdatedDate], [UpdatedBy], [CountryOrder], [CountryStatus]) VALUES (1, NULL, 1, N'الصومال', N'Soumal', CAST(N'2017-10-08T18:48:00' AS SmallDateTime), 2, CAST(N'2017-10-08T18:48:00' AS SmallDateTime), 2, 1, 1)
INSERT [dbo].[tblCountries] ([CountryId], [TeamId], [TourId], [CountryDsecAr], [CountryDsecEn], [CreationDate], [CreationBy], [UpdatedDate], [UpdatedBy], [CountryOrder], [CountryStatus]) VALUES (2, NULL, 2, N'أثيوبيا', N'Ethiopia', CAST(N'2017-11-28T18:21:00' AS SmallDateTime), 1, CAST(N'2017-11-28T18:22:00' AS SmallDateTime), 1, 1, 1)
INSERT [dbo].[tblCountries] ([CountryId], [TeamId], [TourId], [CountryDsecAr], [CountryDsecEn], [CreationDate], [CreationBy], [UpdatedDate], [UpdatedBy], [CountryOrder], [CountryStatus]) VALUES (3, NULL, 2, N'جيبوتي', N'Djibouti', CAST(N'2017-11-28T18:26:00' AS SmallDateTime), 1, CAST(N'2017-11-28T18:26:00' AS SmallDateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[tblCountries] OFF
ALTER TABLE [dbo].[tblCountries] ADD  CONSTRAINT [DF_tblCountries_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[tblCountries] ADD  CONSTRAINT [DF_tblCountries_CountryStatus]  DEFAULT ((1)) FOR [CountryStatus]
GO
