USE [Basar]
GO
/****** Object:  Table [dbo].[tblPlanConfig]    Script Date: 4/29/2020 2:10:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPlanConfig](
	[PlanConfigId] [int] NOT NULL,
	[PlanConfigIdNumber] [nvarchar](50) NOT NULL,
	[PlanConfigOrder] [int] NULL,
	[PlanConfigYear] [smallint] NULL,
	[TourId] [smallint] NULL,
	[TeamId] [smallint] NULL,
	[CountryId] [tinyint] NULL,
	[CampId] [smallint] NULL,
	[SponsorId] [smallint] NULL,
	[PlanConfigStartDate] [date] NULL,
	[PlanConfigEndDate] [date] NULL,
	[PlanConfigAddBy] [nvarchar](128) NULL,
	[PlanConfigUpdatedBy] [nvarchar](128) NULL,
	[PlanConfigDateIn] [smalldatetime] NULL,
	[PlanConfigUpdatedDate] [smalldatetime] NULL,
	[PlanConfigStatus] [bit] NULL,
	[PlanConfigRemark] [nvarchar](200) NULL,
	[PreliminaryStatus] [bit] NULL,
	[CampStatusId] [smallint] NULL,
	[PlanConfigIsClosed] [bit] NULL,
 CONSTRAINT [PK_tblPlanConfig] PRIMARY KEY CLUSTERED 
(
	[PlanConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblPlanConfig] ([PlanConfigId], [PlanConfigIdNumber], [PlanConfigOrder], [PlanConfigYear], [TourId], [TeamId], [CountryId], [CampId], [SponsorId], [PlanConfigStartDate], [PlanConfigEndDate], [PlanConfigAddBy], [PlanConfigUpdatedBy], [PlanConfigDateIn], [PlanConfigUpdatedDate], [PlanConfigStatus], [PlanConfigRemark], [PreliminaryStatus], [CampStatusId], [PlanConfigIsClosed]) VALUES (1, N'2020001', 1, 2020, NULL, 3, 99, NULL, 1, CAST(N'2020-10-01' AS Date), CAST(N'2020-10-07' AS Date), N'', N'', CAST(N'2020-04-23T13:07:00' AS SmallDateTime), NULL, 1, N'', 0, 5, 0)
INSERT [dbo].[tblPlanConfig] ([PlanConfigId], [PlanConfigIdNumber], [PlanConfigOrder], [PlanConfigYear], [TourId], [TeamId], [CountryId], [CampId], [SponsorId], [PlanConfigStartDate], [PlanConfigEndDate], [PlanConfigAddBy], [PlanConfigUpdatedBy], [PlanConfigDateIn], [PlanConfigUpdatedDate], [PlanConfigStatus], [PlanConfigRemark], [PreliminaryStatus], [CampStatusId], [PlanConfigIsClosed]) VALUES (2, N'2020002', 2, 2020, NULL, 3, 99, NULL, 1, CAST(N'2020-10-01' AS Date), CAST(N'2020-10-07' AS Date), N'', N'', CAST(N'2020-04-23T13:07:00' AS SmallDateTime), NULL, 1, N'', 0, 5, 0)
INSERT [dbo].[tblPlanConfig] ([PlanConfigId], [PlanConfigIdNumber], [PlanConfigOrder], [PlanConfigYear], [TourId], [TeamId], [CountryId], [CampId], [SponsorId], [PlanConfigStartDate], [PlanConfigEndDate], [PlanConfigAddBy], [PlanConfigUpdatedBy], [PlanConfigDateIn], [PlanConfigUpdatedDate], [PlanConfigStatus], [PlanConfigRemark], [PreliminaryStatus], [CampStatusId], [PlanConfigIsClosed]) VALUES (3, N'2020003', 3, 2020, NULL, 3, 98, 75, 1, CAST(N'2020-03-22' AS Date), CAST(N'2020-03-27' AS Date), N'', N'', CAST(N'2020-04-23T13:07:00' AS SmallDateTime), NULL, 1, N'', 0, 5, 0)
GO
ALTER TABLE [dbo].[tblPlanConfig] ADD  CONSTRAINT [DF_Table_1_AnnualPlanCreationDate]  DEFAULT (getdate()) FOR [PlanConfigDateIn]
GO
