<div class="card invoice-action-wrapper shadow-none border">
    <div class="card-body">
        <div class="invoice-action-btn">
            <button class="btn btn-primary btn-block invoice-send-btn">
                <i class="bx bx-send"></i>
                <span>Send Invoice</span>
            </button>
        </div>
        <div class="invoice-action-btn">
            <button class="btn btn-light-primary btn-block invoice-print">
                <span>print</span>
            </button>
        </div>
        <div class="invoice-action-btn">
            <a href="~/Home/InvoiceEdit" class="btn btn-light-primary btn-block">
                <span>Edit Invoice</span>
            </a>
        </div>
        <div class="invoice-action-btn">
            <button class="btn btn-success btn-block">
                <i class='bx bx-dollar'></i>
                <span>Add Payment</span>
            </button>
        </div>
    </div>
</div>

