<title>Login</title>

<style type="text/css">
    body {
        color: #999;
        background: #f5f5f5;
        font-family: 'Cairo', sans-serif;
    }

    .form-control {
        box-shadow: none;
        border-color: #ddd;
    }

        .form-control:focus {
            border-color: #19aa8d;
        }

    .login-form {
        width: 350px;
        margin: 0 auto;
        padding: 30px 0;
    }

        .login-form form {
            color: #434343;
            border-radius: 1px;
            margin-bottom: 15px;
            background: #fff;
            border: 1px solid #f3f3f3;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h4 {
            text-align: center;
            font-size: 22px;
            margin-bottom: 20px;
        }

        .login-form .avatar {
            color: #fff;
            margin: 0 auto 30px;
            text-align: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            z-index: 9;
            background: #19aa8d;
            padding: 15px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }

            .login-form .avatar i {
                font-size: 62px;
            }

        .login-form .form-group {
            margin-bottom: 20px;
        }

        .login-form .form-control, .login-form .btn {
            min-height: 40px;
            border-radius: 2px;
            transition: all 0.5s;
        }

        .login-form .close {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .login-form .btn {
            background: #19aa8d;
            border: none;
            line-height: normal;
        }

            .login-form .btn:hover, .login-form .btn:focus {
                background: #42ae68;
            }

        .login-form .checkbox-inline {
            float: left;
        }

        .login-form input[type="checkbox"] {
            margin-top: 2px;
        }

        .login-form .forgot-link {
            float: right;
        }

        .login-form .small {
            font-size: 13px;
        }

        .login-form a {
            color: #19aa8d;
        }

    div.text-center h2:first-child {
        color: #17a2b8;
        font-size: 30px;
        font-weight: 900;
    }
    div.text-center h2:first-child span {
        color: #f73407;
        font-size: 50px;
         
    }
    div.text-center:last-child p:last-child span {
        color: #f73407;
        font-weight: 900;
    }
</style>
<div class="text-center small mt-3">
    <h2>مؤسسة <span>البصر</span> العاليمة</h2>
</div>
<div class="login-form">
    <form>

        <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
        <h4 class="modal-title">الرعاة الدول المخيمات </h4>
        <div class="form-group">
            <input type="text" id="txtUserName" class="form-control" placeholder="إسم المستخدم" required="required">
        </div>
        <div class="form-group">
            <input type="password" id="txtPassword" class="form-control" placeholder="كلمة المرور" required="required">
        </div>
        <div class="form-group small clearfix">
            <label class="checkbox-inline"><input type="checkbox"> تذكرني</label>
            <a href="#" class="forgot-link">نسيت كلمة المرور</a>
        </div>
        <input type="button" id="btnLogin" class="btn btn-primary btn-block btn-lg" value="دخول">
    </form>
    <div class="text-center small">
        <p> مؤسسة البصر العاليمة تهتم بتقديم خدماتها حول العالم مجانا في مخيماتها السنوية</p>
        <p>&copy; @DateTime.Now.AddYears(-3).Year : @DateTime.Now.Year - مؤسسة <span> البصر</span> العالمية</p>

    </div>
</div>



