                <!-- Form and scrolling Components start -->
<section id="form-and-scrolling-components">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <h4 class="card-title">Modal with Login Form</h4>
                        <p> Created Simple Login Form.</p>
                        <!-- Button trigger for login form modal -->
                        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#inlineForm">
                            Launch Modal
                        </button>

                        <!--login form Modal -->
                        <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel33">Login Form </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bx bx-x"></i>
                                        </button>
                                    </div>
                                    <form action="#">
                                        <div class="modal-body">
                                            <label>Email: </label>
                                            <div class="form-group">
                                                <input type="text" placeholder="Email Address" class="form-control">
                                            </div>
                                            <label>Password: </label>
                                            <div class="form-group mb-0">
                                                <input type="password" placeholder="Password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Close</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">login</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Scrolling long Content</h4>
                </div>
                <div class="card-body">
                    <p>If your content is longer you the page will autmatically adopt a scrollbar</p>
                    <!-- Button trigger for scrollbar modal -->
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalLong">
                        Launch demo modal
                    </button>

                    <!--scrollbar Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Scrolling Modal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="bx bx-x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake. Cake fruitcake
                                        powder pudding pastry.
                                    </p>
                                    <p>
                                        Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                                        candy
                                        gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love
                                        caramels powder.
                                    </p>
                                    <p>
                                        Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                                        dragée
                                        dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                                        chocolate marzipan muffin pie liquorice.
                                    </p>
                                    <p>
                                        Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                                        Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                                        tootsie
                                        roll carrot cake soufflé halvah.
                                        Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake. Cake fruitcake
                                        powder pudding pastry.
                                    </p>
                                    <p>
                                        Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                                        candy
                                        gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love
                                        caramels powder
                                    </p>
                                    <p>
                                        Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                                        dragée
                                        dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                                        chocolate marzipan muffin pie liquorice.
                                    </p>
                                    <p>
                                        Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                                        Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                                        tootsie
                                        roll carrot cake soufflé halvah.
                                        Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake. Cake fruitcake
                                        powder pudding pastry.
                                    </p>
                                    <p>
                                        Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                                        candy
                                        gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love
                                        caramels powder.
                                    </p>
                                    <p>
                                        Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                                        dragée
                                        dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                                        chocolate marzipan muffin pie liquorice.
                                    </p>
                                    <p>
                                        Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                                        Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                                        tootsie
                                        roll carrot cake soufflé halvah.
                                        Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake. Cake fruitcake
                                        powder pudding pastry.
                                    </p>
                                    <p>
                                        Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                                        candy
                                        gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love
                                        caramels powder.
                                    </p>
                                    <p>
                                        Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                                        dragée
                                        dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                                        chocolate marzipan muffin pie liquorice.
                                    </p>
                                    <p class="mb-0">
                                        Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                                        Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                                        tootsie
                                        roll carrot cake soufflé halvah.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Close</span>
                                    </button>

                                    <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Accept</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Scrolling long Content Inside Modal</h4>
                </div>
                <div class="card-body">
                    <p>
                        You can also create a scrollable modal that allows scroll the modal body by adding
                        <code>.modal-dialog-scrollable</code> to <code>.modal-dialog</code>.
                    </p>
                    <!-- Button trigger for scrolling content modal -->
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalScrollable">
                        Launch demo modal
                    </button>

                    <!--scrolling content Modal -->
                    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Scrolling long Content</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="bx bx-x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake. Cake fruitcake
                                        powder pudding pastry
                                    </p>
                                    <p>
                                        Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                                        candy
                                        gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love
                                        caramels powder
                                    </p>
                                    <p>
                                        Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                                        dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                                        chocolate marzipan muffin pie liquorice.
                                    </p>
                                    <p>
                                        Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                                        Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                                        tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans. Lollipop candy canes
                                        croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                                    </p>
                                    <p>
                                        Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                                        candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I
                                        love caramels powder.
                                    </p>
                                    <p>
                                        dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                                        chocolate marzipan muffin pie liquorice.
                                    </p>
                                    <p>
                                        Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                                        Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                                        tootsie roll carrot cake soufflé halvah.Biscuit powder jelly beans. Lollipop candy canes croissant
                                        icing chocolate cake. Cake fruitcake powder pudding pastry.
                                    </p>
                                    <p>
                                        Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                                        candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I
                                        love caramels powder.
                                    </p>
                                    <p>
                                        Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                                        dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                                        chocolate marzipan muffin pie liquorice.
                                    </p>
                                    <p>
                                        Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                                        Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                                        tootsie roll carrot cake soufflé halvah. Biscuit powder jelly beans. Lollipop candy canes
                                        croissant icing chocolate cake. Cake fruitcake powder pudding pastry.
                                    </p>
                                    <p>
                                        Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                                        candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I
                                        love caramels powder.
                                    </p>
                                    <p>
                                        Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                                        dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                                        chocolate marzipan muffin pie liquorice.
                                    </p>
                                    <p class="mb-0">
                                        Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                                        Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                                        tootsie roll carrot cake soufflé halvah.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Close</span>
                                    </button>
                                    <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Accept</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Disabled Animation</h4>
                </div>
                <div class="card-body">
                    <p>
                        For modals that simply appear rather than fade in to view, remove the <code>.fade</code> class from your
                        modal markup.
                    </p>
                    <!-- Button trigger for disabled animation modal -->
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#animation">
                        Launch demo modal
                    </button>

                    <!-- disabled animation Modal -->
                    <div class="modal text-left" id="animation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel6">Disabled Animation</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="bx bx-x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Chocolate bar jelly dragée cupcake chocolate bar I love donut liquorice. Powder I love marzipan
                                        donut candy canes jelly-o. Dragée liquorice apple pie candy biscuit danish lemon drops sugar plum.
                                    </p>
                                    <div class="alert bg-rgba-success mb-0" role="alert">
                                        <span class="text-bold-600">Well done!</span>
                                        You successfully read this important alert
                                        message.
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Close</span>
                                    </button>
                                    <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Accept</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Form and scrolling Components end -->
