<section id="modal-sizes">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Modal Sizes</h4>
        </div>
        <div class="card-body">
            <p>
                Add class <code>.modal-{sm|lg|xl|full}</code> with <code>.modal-dialog</code> to create a modal with
                different size.
            </p>
            <div class="row">
                <div class="col-12">
                    <!--Modal sm size -->
                    <div class="mr-1 mb-1 d-inline-block">
                        <!-- Button trigger for small size modal modal -->
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#small">
                            Small Modal
                        </button>

                        <!--small size modal -->
                        <div class="modal fade text-left" id="small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel19" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel19">Small Modal</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bx bx-x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw caramels. I love
                                        marshmallow tiramisu I love fruitcake I love gummi bears.
                                        Carrot cake topping liquorice. Pudding caramels liquorice sweet I love. Donut powder cupcake
                                        ice cream tootsie roll jelly.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary btn-sm" data-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-sm-block d-none">Close</span>
                                        </button>
                                        <button type="button" class="btn btn-primary ml-1 btn-sm" data-dismiss="modal">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-sm-block d-none">Accept</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal default md size -->
                    <div class="mr-1 mb-1 d-inline-block">
                        <!-- Button trigger for default modal -->
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#defaultSize">
                            Default Modal
                        </button>

                        <!--Default size Modal -->
                        <div class="modal fade text-left" id="defaultSize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel18">Default Modal</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bx bx-x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        I love candy candy cake powder I love icing ice cream pastry. Biscuit lemon drops sesame
                                        snaps. Topping biscuit croissant gummi bears jelly beans cake cake bear claw muffin. Lemon
                                        drops oat cake pastry bear claw liquorice lemon drops.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Close</span>
                                        </button>
                                        <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Accept</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal lg size -->
                    <div class="mr-1 mb-1 d-inline-block">
                        <!-- Button trigger for large size modal -->
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#large">
                            Large Modal
                        </button>
                        <!--large size Modal -->
                        <div class="modal fade text-left" id="large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel17">Large Modal</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bx bx-x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        I love tart cookie cupcake. I love chupa chups biscuit. I love marshmallow apple pie wafer
                                        liquorice. Marshmallow cotton candy chocolate. Apple pie muffin tart. Marshmallow halvah pie
                                        marzipan lemon drops jujubes. Macaroon sugar plum cake icing toffee.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Close</span>
                                        </button>
                                        <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Accept</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal Xl size -->
                    <div class="mr-1 mb-1 d-inline-block">
                        <!-- Button trigger for Extra Large  modal -->
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#xlarge">
                            Extra Large Modal
                        </button>

                        <!--Extra Large Modal -->
                        <div class="modal fade text-left w-100" id="xlarge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel16">Extra Large Modal</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bx bx-x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Cake cupcake sugar plum. Sesame snaps pudding cupcake candy canes icing cheesecake. Sweet roll
                                        pudding lollipop apple pie gummies dragée. Chocolate bar cookie caramels I love lollipop ice
                                        cream tiramisu lollipop sweet.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Close</span>
                                        </button>
                                        <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Accept</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal full size -->
                    <div class="mr-1 mb-1 d-inline-block">
                        <!-- Button trigger for full size modal -->
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#full-scrn">
                            Full Screen Modal
                        </button>

                        <!-- full size modal-->
                        <div class="modal fade text-left w-100" id="full-scrn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel20" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-full">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel20">Full Screen Modal</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="bx bx-x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Cake cupcake sugar plum. Sesame snaps pudding cupcake candy canes icing cheesecake. Sweet roll
                                        pudding lollipop apple pie gummies dragée. Chocolate bar cookie caramels I love lollipop ice
                                        cream tiramisu lollipop sweet.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Close</span>
                                        </button>
                                        <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Accept</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

